*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 120%;
   font-family: Courier;
   font-weight: 200;
   background-image: linear-gradient(rgb(47,150,163), rgb(48,62,143));
}
.card{
  background: cyan;
  padding: 1.5rem;
  opacity: 0.6;
  border-radius: 2rem;
  width: 100%;
  max-width: 420px;
  margin: 1rem;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  margin: 1rem;
  background: #7c7c7c2b;
  border-radius: 50%;
  border: none;
  height: 2rem;
  width: 2rem;
  transition: .5s ease-in-out;
  outline: none;
  padding: 1.5rem;
  position: relative;
  align-items: center;
}
img{
  position: absolute;
  top:-50;
  right: -50;
  transform: translate(-50%, -50%)
}
input.search-bar{
  border: none;
  outline: none;
  padding: .6rem 1rem;
  border-radius: 1.2rem;
  background: #7c7c7c2b;
  color: black;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 0px);
}

.flex{
  display: flex;
  align-items: center;
  
  margin: 1rem .5rem;
}
.description{
  text-transform: capitalize;
}

button:hover{
  background: #7c7c7c6b;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

h2,h1{
  margin: 1rem 0rem;
}

.temp{
  margin: 2rem .3rem;
}
